
<div class='container'>

	<ul class="nav nav-tabs">
  		<li class="active"><a data-toggle="tab" href="#totals">Team Totals</a></li>
  		<li><a data-toggle="tab" href="#individual">Individual Characters</a></li>
	</ul>

	<div class="tab-content">
	  <div id="totals" class="tab-pane fade in active">
			<div class='chartContainer'>
				<canvas id="teamStats"></canvas>
			</div>
		</div>
		<div id="individual" class="tab-pane fade">
			<div class='chartContainer'>
				<canvas id="individualStats"></canvas>
			</div>
		</div>
	</div>


	<datalist id='characterList'>
		<option *ngFor='let character of characters' value={{character.name}} ngDefaultControl></option>
	</datalist>
	<input list='characterList' [(ngModel)]="selectedCharacter">
	<button id='addCharacter' (click)='addCharacter()'>Add Character</button>

	<br />
	<br />

	<div class='row'>
	</div>


</div>



