.chartContainer {
	height: 60%;
	width: 60%;
	margin: auto;
}

.characterInput{
	border-style: solid;
	border-width: 2px;
	border-color: orange;
}

.emphasizedHeader{
	font-family: Koverwatch;
}


@media (max-width: 600px) {
	.chartContainer{
		width: 80%;
	}
}

@media (max-width: 400px) {
	.chartContainer{
		width: 100%;
	}

}



